.idea
cmake-build-debug
Test/googletest
*.pro
*.pro.user
app/.qmake.stash
app/Makefile
app/app.qmltypes
app/app/
app/app_metatypes.json
app/app_qmltyperegistrations.cpp
app/app_qmltyperegistrations.o
app/build/
app/debug/
app/imageInfo.o
app/main.o
app/moc_.cpp.json
app/moc_imageInfo.cpp
app/moc_imageInfo.cpp.json
app/moc_imageInfo.o
app/moc_predefs.h
app/moc_question.cpp
app/moc_question.cpp.json
app/moc_question.o
app/qrc_qml.cpp
app/qrc_qml.o
app/question.o
app/randomgenerator.o
app/release/
app/resources/qmake_qmake_immediate.qrc
app/resources/qml.qrc
app/resources/qrc_qmake_qmake_immediate.cpp
app/resources/qrc_qml.cpp
app/resources/qrc_qml_qmlcache.cpp
app/urlreader.o
build-app-Desktop_Qt_6_0_1_GCC_64bit-Profile/